
@media (min-width:1200px){
    .container{
        max-width: 1440px;
        width: 96%;
    }
}
.menu_header{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 10px 0px;
    .menu_main{
        .nav-menu{
            float: right;
            >li{
                a{
                    line-height: 80px;
                }
            }
        } 
    }
    .search-language{
        display: flex ;
        flex-direction: row-reverse;
    }
}